body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', monospace;
}

h1, h2, h4{
    margin: 0;
}




#section-1{
    width: 100vw;
    height: 95vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    font-family: monos  pace;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
}

.navbar h2{
    font-weight: bolder;
    font-size: xx-large;
    color: greenyellow;
    padding: 10px;
}

ul{
    display: flex;
    text-decoration: none;
    gap: 20px;
    padding: 10px;
    font-weight: bold;
}

li{
    list-style-type: none;
}

a{
    text-decoration-line: none;
    color: greenyellow;
}

.body-container img{
    width: 35vw;
    height: auto;
    flex-shrink: 1;
}

.p-container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 62vh;
    padding: 0px  48px 48px  48px;
    width: 70vw;
}

.p-container button{
    background-color: greenyellow;
    color: blac;
    border: 2;
    border-color: rgb(196, 255, 156);
    border-radius: 10px;
    padding: 10px;
    font-size: x-small;
    font-family: monospace;
    font-weight: 900;
}

.p-container p{
    text-align: justify;
    font-family: monospace;
    font-size: large;
    line-height: 1.6;
}

.p-container h1{
    color: greenyellow;
}

.p-container span{
    color: greenyellow;
    font-weight: 900;
}

.p-container span#aya{
    color: rgb(255, 159, 191);
}

.p-container span#koga{
    color: lightskyblue;
}





#section-2{
    width: 100vw;
    height: 100vh;
    background-color: greenyellow;
}




#section-3{
    width: 100vw;
    height: 100vh;
    background-color: blue;
}




#section-4{
    width: 100vw;
    height: 100vh;
    background-color: orange;
}